<form class="form-horizontal">
<div class="control-group">

<%= form_for(@shelter) do |f| %>
  <% if @shelter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shelter.errors.count, "error") %> prohibited this shelter from being saved:</h2>

      <ul>
      <% @shelter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
   <label class="control-label"><%= f.label :sheltername, "Shelter" %></label>
   <div class="controls">
    <%= f.text_field :sheltername %>
    </div>
  </div>

  <div class="field">
    <label class="control-label"><%= f.label :street, " Address" %></label>
    <div class="controls">
    <%= f.text_field :street %>
  </div>
  </div>
  
  <div class="field">
   <label class="control-label"> <%= f.label :city %></label>
   <div class="controls">
    <%= f.text_field :city %>
  </div>
  </div>
  
  <div class="field">
    <label class="control-label"><%= f.label :state %></label>
    <div class="controls">
    <%= f.text_field :state %>
  </div>
  </div>
  
  <div class="field">
    <label class="control-label"><%= f.label :zip %></label>
        <div class="controls">
    <%= f.number_field :zip %>
  </div>
  </div>
  
  <div class="field">
    <label class="control-label"><%= f.label :phone %></label>
    <div class="controls">
    <%= f.text_field :phone %>
  </div>
  </div>
  
  <div class="controls">
  <div class="actions">
    <%= f.submit :class=> 'btn' %>
  </div>
  </div>
  
<% end %>

</div>
</form>