<h1>Minneapolis Shelters</h1>
<table class="table table-condensed table-hover">
	<thead>
  <tr>
    <th>Shelter</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @shelters.each do |shelter| %>
  <tbody>
  <tr>
    <td><%= shelter.sheltername %></td>
    <td><%= shelter.street %></td>
    <td><%= shelter.city %></td>
    <td><%= shelter.state %></td>
    <td><%= shelter.zip %></td>
    <td><%= shelter.phone %></td>
    <td><%= link_to 'Show', shelter %></td>
    <td><%= link_to 'Edit', edit_shelter_path(shelter) %></td>
    <td><%= link_to 'Destroy', shelter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  </tbody>
<% end %>
</table>

<br />
<div class="btn">
<%= link_to 'New Shelter', new_shelter_path %>
</div>

