<p id="notice"><%= notice %></p>

<div id="show" class="well lead">
<p>
  <b>Shelter:</b>
  <%= @shelter.sheltername %>
</p>

<p>
  <b>Address:</b>
  <%= @shelter.street %>
</p>

<p>
  <b>City:</b>
  <%= @shelter.city %>
</p>

<p>
  <b>State:</b>
  <%= @shelter.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @shelter.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @shelter.phone %>
</p>

</div>

<div class="btn-group">
<div class="btn">
<%= link_to 'Edit', edit_shelter_path(@shelter) %>
</div>
<div class="btn">
<%= link_to 'Back', shelters_path %>
</div>
</div>
