<div class="form-horizontal">
<div class="control-group">

<%= nested_form_for @contact do |f| %>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
<div class="guardian" >  
<div class="two-col">

  <div class="field">
    <label class="control-label"><%= f.label :pnamef, "Guardian's First Name"  %></label>
    <div class="controls"><%= f.text_field :pnamef %></div>
  </div>
  <div class="field">
    <label class="control-label"><%= f.label :pnamel , "Guardian's Last Name" %></label>
    <div class="controls"><%= f.text_field :pnamel %></div>
  </div>
  <div class="field">
    <label class="control-label"><%= f.label :street, "Address" %></label>
    <div class="controls"><%= f.text_field :street %></div>
  </div>
  <div class="field">
    <label class="control-label"><%= f.label :city %></label>
    <div class="controls"><%= f.text_field :city %></div>
  </div>
  <div class="field">
    <label class="control-label"><%= f.label :state %></label>
    <div class="controls"><%= f.text_field :state %></div>
  </div>
  <div class="field">
    <label class="control-label"><%= f.label :zip %></label>
    <div class="controls"><%= f.number_field :zip %></div>
  </div>
  <div class="field">
    <label class="control-label"><%= f.label :phone %></label>
    <div class="controls"><%= f.text_field :phone %></div>
  </div>
 </div> 
 </div>

<div class="line">

</div>
 

 
   <%= f.fields_for :entrants do |task_form| %>
 <div class="entrant">  
    <div class="field">
    	<label class="control-label"><%= task_form.label :cnamef, "Child's First Name" %></label>
    	<div class="controls"><%= task_form.text_field :cnamef %></div>
  	</div>
  	<div class="field">
    	<label class="control-label"><%= task_form.label :cnamel, "Child's Last Name" %></label>
    	<div class="controls"><%= task_form.text_field :cnamel %></div>
    </div>    
  	<div class="field">
    	<label class="control-label"><%= task_form.label :dob, "Date of Birth" %></label>
    	<div class="controls"><%= task_form.date_select :dob, :start_year => 1990  %></div>
  	</div>
  	<div class="field">
    	<label class="control-label"><%= task_form.label :grade, "Grade" %></label>
    	<div class="controls"><%= task_form.select :grade, options_for_select(["SCR","ECSC","Pre","K","1","2","3","4","5","6","7","8","9","10","11","12"]) %></div>
  	</div>
  
  	<div class="field">
    	<label class="control-label"><%= task_form.label :studentid, "Student ID Number" %></label>
    	<div class="controls"><%= task_form.number_field :studentid %></div>
  	</div>
 
  <div id="stay" class="well">  
			<%= task_form.fields_for :stays do |sub_form| %>
			  	<div class="fields">
  					<label class="control-label"><%= sub_form.label :shelter_id, "Shelter" %></label>
    				<div class="controls"><%= sub_form.select :shelter_id, options_from_collection_for_select(@shelters, 'id', 'sheltername') %></div>
  				</div>
			  	<div class="field">
    				<label class="control-label"><%= sub_form.label :entrydate, "Entry Date" %></label>
    				<div class="controls"><%= sub_form.date_select :entrydate %></div>
  				</div>
  				<div class="field">
    				<label class="control-label"><%= sub_form.label :exitdate, "Exit Date" %></label>
    				<div class="controls"><%= sub_form.date_select :exitdate %></div>
  				</div>
		  <% end %>
 			 <div class="controls"> 
    		<%= task_form.link_to_add "Add A Shelter Stay", :stays, :class=> 'btn' %>
			</div>
			</div>
			
  	<div class="field"> 
  		<label class="control-label"><%= task_form.label :mnres, "MN Res" %></label>
  		<div class="controls"><%= task_form.select :mnres, options_for_select(["Yes","No"]) %></div>
  	</div>
   	<div class="field">
	  	<label class="control-label"><%= task_form.label :laststate, "Last State" %></label>
    	<div class="controls"><%= task_form.text_field :laststate %></div>
  	</div>
  	<div class="field">
    	<label class="control-label"><%= task_form.label :lastcity, "Last City" %></label>
    	<div class="controls"><%= task_form.text_field :lastcity %></div>
  	</div>
  
    <div class="controls"> 
  	<div class="btn">
			<%= link_to 'New School', new_school_path, :target => '_blank' %>
		</div>
		</div>
		
  	<div class="field">
    	<label class="control-label"><%= task_form.label :lastschool, "Last School" %></label>
  		<div class="controls"><%= task_form.select :id, options_from_collection_for_select(@schools, 'id', 'schoolname'), :include_blank => 'NA'  %></div>
  	</div>
  	
  	<%= task_form.fields_for :entrants_needs do |need_form| %>

  	<div class="field"> 
  		<label class="control-label"><%= need_form.label :item, "Spec Needs" %></label>
  		<div class="controls"><%= need_form.select :need_id, options_from_collection_for_select(@needs, 'id', 'item') %></div>
  	    <%= need_form.hidden_field :entrant_id %>
  	</div>
  	<% end %>
  	<div class="controls"> 
    	<%= task_form.link_to_add "Add A Special Need", :entrants_needs, :class=> 'btn' %>
		</div>
		</div>
  	
  	
  	<div class="field"> 
  		<label class="control-label"><%= task_form.label :language, "Language" %></label>
  		<div class="controls"><%= task_form.select :language, options_for_select(["Spanish","Somali","Hmong","Other"]) %></div>
  	</div>
  	<div class="field"> 
  		<label class="control-label"><%= task_form.label :bus, "Bus Needed" %></label>
  		<div class="controls"><%= task_form.select :bus, options_for_select(["Yes","No"]) %></div>
  	</div>

  	<div class="field"> 
  		<label class="control-label"><%= task_form.label :discovery, "Entered in Discovery" %></label>
  		<div class="controls"><%= task_form.select :discovery, options_for_select(["No","Yes"]) %></div>
  	</div>
  	<div class="field"> 
  		<label class="control-label"><%= task_form.label :transport, "Transport Set Up" %></label>
  		<div class="controls"><%= task_form.select :transport, options_for_select(["No","Yes"]) %></div>
  	</div>
    
  	<div class="field">
    	<label class="control-label"><%= task_form.label :note, "Notes" %></label>
    	<div class="controls"><%= task_form.text_area :note %></div<
  	</div>
  </div>
  	<% end %>
  <div class="controls"> 
    <%= f.link_to_add "Add Another Child", :entrants, :class=> 'btn' %>

  
  <div class="actions">
    <%= f.submit :class=> 'btn' %>
  </div>
  </div>
 </div>
<% end %>
</div>
</div>
