<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pnamef %><br />
    <%= f.text_field :pnamef %>
  </div>
  <div class="field">
    <%= f.label :pnamel %><br />
    <%= f.text_field :pnamel %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :entrydate %><br />
    <%= f.date_select :entrydate %>
  </div>
  <div class="field">
    <%= f.label :exitdate %><br />
    <%= f.date_select :exitdate %>
  </div>
  
   <%= f.fields_for :entrants do |e| %>
    <div>
    HELLO I AM WORKING
    <%= e.label :cnamef %><br />
    <%= e.text_field :cnamef %>
  	</div>
  	<% end %>
  	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
