<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="three-col">
  <div class="field">
    <%= f.label :pnamef, "Guardian's First Name"  %>
    <%= f.text_field :pnamef %>
  </div>
  <div class="field">
    <%= f.label :pnamel , "Guardian's Last Name" %>
    <%= f.text_field :pnamel %>
  </div>
  <div class="field">
    <%= f.label :street, "Address" %>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  
  <div class="field">
    <%= f.label :entrydate, "Entry Date" %>
    <%= f.date_select :entrydate %>
  </div>
  <div class="field">
    <%= f.label :exitdate, "Exit Date" %>
    <%= f.date_select :exitdate %>
  </div>
  
  
  
   <%= f.fields_for :entrants do |e| %>
   
    <div>
    	<%= e.label :cnamef, "Child's First Name" %>
    	<%= e.text_field :cnamef %>
  	</div>
  	<div class="field">
    	<%= e.label :cnamel, "Child's Last Name" %>
    	<%= e.text_field :cnamel %>
    </div>
  	<div class="field">
    	<%= e.label :dob, "Date of Birth" %>
    	<%= e.date_select :dob %>
  	</div>
  	<div class="field">
    	<%= e.label :grade, "Grade" %>
    	<%= e.text_field :grade %>
  	</div>
  	<div class="field">
    	<%= e.label :shelterid, "Shelter" %>
    	<%= e.number_field :shelterid %>
  	</div>
  	
    <div id="radiobuttons" class="field">
  <label class="control-label">
    <%= e.label :mnres, "MN Res" %></label>
  <div class="controls"> 
  	<%= radio_button_tag(:mnres, "Yes") %>
		<%= label_tag(:mnres_yes, "Yes") %>
		<%= radio_button_tag(:mnres, "No") %>
		<%= label_tag(:mnres_no, "No") %>
  </div>
  </div>
  	
  	<div class="field">
    	<%= e.label :entrydate, "Entry Date" %>
    	<%= e.date_select :entrydate %>
  	</div>
	  <div class="field">
  	  <%= e.label :exitdate, "Exit Date" %>
    	<%= e.date_select :exitdate %>
  	</div>
  	<div class="field">
   	  <%= e.label :totaldays, "Total Days" %>
      <%= e.number_field :totaldays %>
  	</div>
  	
  	  <div class="field">
    <label class="control-label">
    <%= e.label :lastschool, "Last School" %></label>
  <div class="controls"> 
  <%= e.select :id, options_from_collection_for_select(@schools, 'id', 'schoolname'), :include_blank => 'NA'  %>
  </div>
  </div>
  
  <div class="field">
  <label class="control-label">
    <%= e.label :shelterschool, "Shelter School" %></label>
	<div class="controls"> 
		<%= e.select :id, options_from_collection_for_select(@schools, 'id', 'schoolname'), :include_blank => 'NA'  %>  </div>
  </div>
  
  <div class="field">
      <label class="control-label">
    <%= e.label :mpsschool, "MPS School" %></label>
  <div class="controls"> 
		<%= e.select :id, options_from_collection_for_select(@schools, 'id', 'schoolname'), :include_blank => 'NA'  %>  </div>
  </div>
  
  <div class="field">
  <label class="control-label">
    <%= e.label :nonmpsschool, "Non MPS School" %></label>
  <div class="controls"> 
		<%= e.select :id, options_from_collection_for_select(@schools, 'id', 'schoolname'), :include_blank => 'NA'  %>
</div>
  </div>
  	
  	
  	
    
  	<div class="field">
    	<%= e.label :note, "Notes" %>
    	<%= e.text_area :note %>
  	</div>
  </div>
  	<% end %>
  	
  <div class="actions">
    <%= f.submit :class=> 'btn' %>
  </div>
<% end %>
