<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="three-col">
  <div class="field">
    <%= f.label :pnamef, "Guardian's First Name"  %>
    <%= f.text_field :pnamef %>
  </div>
  <div class="field">
    <%= f.label :pnamel , "Guardian's Last Name" %>
    <%= f.text_field :pnamel %>
  </div>
  <div class="field">
    <%= f.label :street, "Address" %>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  
  <div class="field">
    <%= f.label :entrydate, "Entry Date" %>
    <%= f.date_select :entrydate %>
  </div>
  <div class="field">
    <%= f.label :exitdate, "Exit Date" %>
    <%= f.date_select :exitdate %>
  </div>
  
  
  
   <%= f.fields_for :entrants do |e| %>
   
    <div>
    	<%= e.label :cnamef, "Child's First Name" %>
    	<%= e.text_field :cnamef %>
  	</div>
  	<div class="field">
    	<%= e.label :cnamel, "Child's Last Name" %>
    	<%= e.text_field :cnamel %>
    </div>
  	<div class="field">
    	<%= e.label :dob, "Date of Birth" %>
    	<%= e.date_select :dob %>
  	</div>
  	<div class="field">
    	<%= e.label :grade, "Grade" %>
    	<%= e.text_field :grade %>
  	</div>
  	<div class="field">
    	<%= e.label :shelterid, "Shelter" %>
    	<%= e.number_field :shelterid %>
  	</div>
  	<div class="field">
    	<%= e.label :mnres, "MN Res" %>
    	<%= e.text_field :mnres %>
  	</div>
  	<div class="field">
    	<%= e.label :entrydate, "Entry Date" %>
    	<%= e.date_select :entrydate %>
  	</div>
	  <div class="field">
  	  <%= e.label :exitdate, "Exit Date" %>
    	<%= e.date_select :exitdate %>
  	</div>
  	<div class="field">
   	  <%= e.label :totaldays, "Total Days" %>
      <%= e.number_field :totaldays %>
  	</div>
  	<div class="field">
    	<%= e.label :lastschool, "Last School" %>
    	<%= e.number_field :lastschool %>
  	</div>
  	<div class="field">
    	<%= e.label :shelterschool, "Shelter School" %>
    	<%= e.number_field :shelterschool %>
  	</div>
	  <div class="field">
  	  <%= e.label :mpsschool, "MPS School" %>
    	<%= e.number_field :mpsschool %>
  	</div>
  	<div class="field">
    	<%= e.label :nonmpsschool, "Non MPS School" %>
    	<%= e.number_field :nonmpsschool %>
  	</div>
  	<div class="field">
    	<%= e.label :note, "Notes" %>
    	<%= e.text_area :note %>
  	</div>
  </div>
  	<% end %>
  	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
