<div class="button">
<%= link_to 'Edit', edit_contact_path(@contact), :class=> 'btn' %> 
<%= link_to 'Back', entrants_path, :class=> 'btn' %>
</div>

<div id="show" class="well lead">

<p id="notice"><%= notice %></p>

<p>
  <b>Guardian's First Name:</b>
  <%= @contact.pnamef %>
</p>

<p>
  <b>Guardian's Last Name:</b>
  <%= @contact.pnamel %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.street %>
</p>

<p>
  <b>City:</b>
  <%= @contact.city %>
</p>

<p>
  <b>State:</b>
  <%= @contact.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @contact.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>


</div>