<%= form_for(@entrant) do |f| %>
  <% if @entrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrant.errors.count, "error") %> prohibited this entrant from being saved:</h2>

      <ul>
      <% @entrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cnamef %><br />
    <%= f.text_field :cnamef %>
  </div>
  <div class="field">
    <%= f.label :cnamel %><br />
    <%= f.text_field :cnamel %>
  </div>
  <div class="field">
    <%= f.label :contactid %><br />
    <%= f.number_field :contactid %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :shelterid %><br />
    <%= f.number_field :shelterid %>
  </div>
  <div class="field">
    <%= f.label :mnres %><br />
    <%= f.text_field :mnres %>
  </div>
  <div class="field">
    <%= f.label :entrydate %><br />
    <%= f.date_select :entrydate %>
  </div>
  <div class="field">
    <%= f.label :exitdate %><br />
    <%= f.date_select :exitdate %>
  </div>
  <div class="field">
    <%= f.label :totaldays %><br />
    <%= f.number_field :totaldays %>
  </div>
  <div class="field">
    <%= f.label :lastschool %><br />
    <%= f.number_field :lastschool %>
  </div>
  <div class="field">
    <%= f.label :shelterschool %><br />
    <%= f.number_field :shelterschool %>
  </div>
  <div class="field">
    <%= f.label :mpsschool %><br />
    <%= f.number_field :mpsschool %>
  </div>
  <div class="field">
    <%= f.label :nonmpsschool %><br />
    <%= f.number_field :nonmpsschool %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
