<%= form_for(@entrant) do |f| %>
  <% if @entrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrant.errors.count, "error") %> prohibited this entrant from being saved:</h2>

      <ul>
      <% @entrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cnamef, "Student's First Name" %><br />
    <%= f.text_field :cnamef %>
  </div>
  <div class="field">
    <%= f.label :cnamel, "Student's Last Name" %><br />
    <%= f.text_field :cnamel %>
  </div>
  <div class="field">
    <%= f.label :contact_id, "Contact" %><br />
    <%= f.number_field :contact_id %>
  </div>


	
  
  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :grade, "Grade" %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :shelterid, "Shelter" %><br />
    <%= f.number_field :shelterid %>
  </div>
  <div class="field">
    <%= f.label :mnres, "MN Res" %><br />
    <%= f.text_field :mnres %>
  </div>
  <div class="field">
    <%= f.label :entrydate, "Entry Date" %><br />
    <%= f.date_select :entrydate %>
  </div>
  <div class="field">
    <%= f.label :exitdate, "Exit Date" %><br />
    <%= f.date_select :exitdate %>
  </div>
  <div class="field">
    <%= f.label :totaldays, "Total Days" %><br />
    <%= f.number_field :totaldays %>
  </div>
  <div class="field">
    <%= f.label :lastschool, "Last School" %><br />
    <%= f.number_field :lastschool %>
  </div>
  <div class="field">
    <%= f.label :shelterschool, "Shelter School" %><br />
    <%= f.number_field :shelterschool %>
  </div>
  <div class="field">
    <%= f.label :mpsschool, "MPS School" %><br />
    <%= f.number_field :mpsschool %>
  </div>
  <div class="field">
    <%= f.label :nonmpsschool, "Non MPS School" %><br />
    <%= f.number_field :nonmpsschool %>
  </div>
  <div class="field">
    <%= f.label :note, "Notes" %><br />
    <%= f.text_area :note %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
