

<!-- <td colspan="3" style="text-align:center;" -->

<h1>Entrants</h1>

<div id="indexbtn" class="btn">
<%= link_to 'New Entrant', new_contact_path %>
</div>


<div class="span11 entrants-wrapper">

<table id="mytable" class="table table-condensed table-hover table-fixed-header">
<thead class="header">
  <tr>
    <th>Child's First Name</th>
    <th>Child's Last Name</th>
    <th>Guardian</th>
    <th>Date of Birth</th>
    <th>Grade</th>
    <th>Shelterid</th>
    <th>Mnres</th>
    <th>Entrydate</th>
    <th>Exitdate</th>
    <th>Totaldays</th>
    <th>Lastschool</th>
    <th>Shelterschool</th>
    <th>Mpsschool</th>
    <th>Nonmpsschool</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
</div>

<% @entrants.each do |entrant| %>
  <tr>
    <td><%= link_to entrant.cnamef, entrant %></td>
    <td><%= link_to entrant.cnamel, entrant %></td>
    
    <td>    	<% if(entrant.contact_id.nil?) then %>
    		NA
    	<% else %>
    		<div id="<%= entrant.id %>" class="pop">
        	<%= link_to entrant.contact.pnamef + " " + entrant.contact.pnamel, contact_path(entrant.contact.id) %>
        </div>
        <div id="hide-<%= entrant.id %>" class="hide">
        <%= entrant.contact.pnamef %>
        <%= entrant.contact.pnamel %>
        <%= entrant.contact.phone %>
        </div>
      <% end %></td>
    
    <td><%= entrant.dob %></td>
    <td><%= entrant.grade %></td>
    <td><%= entrant.shelterid %></td>
    <td><%= entrant.mnres %></td>
    <td><%= entrant.entrydate %></td>
    <td><%= entrant.exitdate %></td>
    <td><%= entrant.totaldays %></td>
    <td>
      <% if(entrant.lastschool.nil?) then %>
        NA
      <% else %>
        <div id="<%= entrant.id %>" class="pop">    
            <%= link_to School.find(entrant.lastschool).schoolname, school_path(entrant.lastschool) %>
        </div>
        <div id="hide-<%= entrant.id %>" class="hide">
        <%= entrant.lastschool.sswphone %>
        <%= entrant.lastschool.sswname %>
        </div>
      <% end %>
      
    
    </td>
    <td><%= entrant.shelterschool %></td>
    <td><%= entrant.mpsschool %></td>
    <td><%= entrant.nonmpsschool %></td>
    <td><%= entrant.note %></td>
    <td><%= link_to 'Show', entrant %></td>
    <td><%= link_to 'Edit', edit_entrant_path(entrant) %></td>
    <td><%= link_to 'Destroy', entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<div class="pagination pagination-centered">
<%= will_paginate @entrants %>
</div>




