

<!-- <td colspan="3" style="text-align:center;" -->

<h1>Entrants</h1>

<div id="indexbtn" class="btn">
<%= link_to 'New Entrant', new_contact_path %>
</div>


<div class="span11 entrants-wrapper">

<table id="mytable" class="table table-condensed table-hover table-fixed-header">
<thead class="header">
  <tr>
    <th>Child's First Name</th>
    <th>Child's Last Name</th>
    <th>Guardian</th>
    <th>Date of Birth</th>
    <th>Grade</th>
    <th>ID</th>
    <th>Shelter</th>
		<th>Bus Needed</th>
		<th>Entered in Discovery</th>
		<th>Transport Setup</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
</div>

<% @entrants.each do |entrant| %>
  <tr>
    <td><%= link_to entrant.cnamef, entrant %></td>
    <td><%= link_to entrant.cnamel, entrant %></td>
    
    <td>    	<% if(entrant.contact_id.nil?) then %>
    		NA
    	<% else %>
    		<div id="<%= entrant.id %>" class="pop">
        	<%= link_to entrant.contact.pnamef + " " + entrant.contact.pnamel, contact_path(entrant.contact.id) %>
        </div>
        <div id="hide-<%= entrant.id %>" class="hide">
        <%= entrant.contact.pnamef %>
        <%= entrant.contact.pnamel %>
        <%= entrant.contact.phone %>
        </div>
      <% end %></td>
    
    <td class="dob"><%= entrant.dob %></td>
    <td><%= entrant.grade %></td>
    <td><%= entrant.studentid%></td>
    
    <td><% if(entrant.shelterid.nil?) then %>
    		NA
    	<% else %>   
            <%= link_to Shelter.find(entrant.shelterid).sheltername, shelter_path(entrant.shelterid) %>
      <% end %>
      </td>
    <td><%= entrant.bus %></td>
    <td><%= entrant.discovery %></td>
    <td><%= entrant.transport %></td>

    <td class="note"><%= entrant.note %></td>
    <td><%= link_to 'Edit', edit_contact_path(entrant), :class=> 'btn' %></td>
    <td><%= link_to 'Remove', entrant, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-warning'  %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<div class="pagination pagination-centered">
<%= will_paginate @entrants %>
</div>




