<div id="page">
<div id="searchtitle" class="well">
<h2>Search Results</h2>
</div>

<% if @entrants.empty? %>

  <h3 class="alert">No entrants with that name.</h3>  

<% else%>

<div class="span11 entrants-wrapper">


<table class="table table-condensed table-hover table-fixed-header">
	<thead class="header">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Last Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Grade</th>
    <th>School</th>
    <th>Last Name</th>
  	<th>Last Name</th>
    <th>Last Name</th>
    <th>Last Name</th>
  	<th>Last Name</th>
    <th>Last Name</th>
    <th>Last Name</th>
    <th>Last Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
<% @entrants.each do |entrant| %>
  <tr>
    <td><%= entrant.cnamef %></td>
    <td><%= entrant.cnamel %></td>
    <td><%= entrant.contact_id %></td>
    <td><%= entrant.dob %></td>
    <td><%= entrant.entrydate %></td>
    <td><%= entrant.exitdate %></td>
    <td><%= entrant.grade %></td>
    <td><%= entrant.lastschool %></td>
    <td><%= entrant.mnres %></td>
    <td><%= entrant.mpsschool %></td>
    <td><%= entrant.nonmpsschool %></td>
    <td><%= entrant.note %></td>
    <td><%= entrant.shelterid %></td>
    <td><%= entrant.shelterschool %></td>
    <td><%= entrant.totaldays %></td>
    <td><% if(entrant.school.nil?) then %>
    The entrant has no school to speak of.
  <% else %>
    <%= entrant.school.name %>
  <% end %></td>
    <td><%= link_to 'Show', entrant %></td>
    <td><%= link_to 'Edit', edit_entrant_path(entrant) %></td>
    <td><%= link_to 'Destroy', entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

<% end %>
<div class="btn">
<%= link_to 'Back', root_path %>
</div>

</div>