<div class="well">
<p id="notice"><%= notice %></p>

<p>
  <b>Cnamef:</b>
  <%= @entrant.cnamef %>
</p>

<p>
  <b>Cnamel:</b>
  <%= @entrant.cnamel %>
</p>

<p>
  <b>Contactid:</b>
  <%= @entrant.contact_id %>
</p>

<p>
  <b>Dob:</b>
  <%= @entrant.dob %>
</p>

<p>
  <b>Grade:</b>
  <%= @entrant.grade %>
</p>

<p>
  <b>Shelterid:</b>
  <%= @entrant.shelterid %>
</p>

<p>
  <b>Mnres:</b>
  <%= @entrant.mnres %>
</p>

<p>
  <b>Entrydate:</b>
  <%= @entrant.entrydate %>
</p>

<p>
  <b>Exitdate:</b>
  <%= @entrant.exitdate %>
</p>

<p>
  <b>Totaldays:</b>
  <%= @entrant.totaldays %>
</p>

<p>
  <b>Lastschool:</b>
  <%= @entrant.lastschool %>
</p>

<p>
  <b>Shelterschool:</b>
  <%= @entrant.shelterschool %>
</p>

<p>
  <b>Mpsschool:</b>
  <%= @entrant.mpsschool %>
</p>

<p>
  <b>Nonmpsschool:</b>
  <%= @entrant.nonmpsschool %>
</p>

<p>
  <b>Note:</b>
  <%= @entrant.note %>
</p>

<div class="btn-group">
<div class="btn">
<%= link_to 'Edit', edit_entrant_path(@entrant) %>
</div>
<div class="btn">
<%= link_to 'Back', entrants_path %>
</div>
</div>
</div>