<div id="show" class="well lead">

<p id="notice"><%= notice %></p>

<p>
  <b>Cnamef:</b>
  <%= @entrant.cnamef %>
</p>

<p>
  <b>Cnamel:</b>
  <%= @entrant.cnamel %>
</p>

<p>
  <b>Contactid:</b>
  <%= @entrant.contact_id %>
</p>

<p>
  <b>Dob:</b>
  <%= @entrant.dob %>
</p>

<p>
  <b>Grade:</b>
  <%= @entrant.grade %>
</p>

<p>
  <b>Student ID:</b>
  <%= @entrant.studentid %>
</p>

<p>
  <b>Shelter:</b>
  	<% if(@entrant.shelterid.nil?) then %>
    		NA
  <% else %>   
  	<%= link_to Shelter.find(@entrant.shelterid).sheltername, shelter_path(@entrant.shelterid) %>
  <% end %>
</p>

<p>
  <b>MN Res:</b>
  <%= @entrant.mnres %>
</p>

<p>
  <b>Laststate:</b>
  <%= @entrant.laststate %>
</p>

<p>
  <b>Lastcity:</b>
  <%= @entrant.lastcity %>
</p>

<p>
  <b>Lastschool:</b>
  <% if(@entrant.lastschool.nil?) then %>
			NA
  <% else %>  
    <%= @entrant.lastschool.schoolname %>
  <% end %>
</p>

<p>
  <b>Special Needs:</b>
  	<% if (@needs.nil?) then %>
    		NA
  <% else %>   
		<% @needs.each do |bob| %>
				<%= bob.item %>
		<% end %>
  <% end %>
</p>
  
  	
<p>
	<b>Language:</b>
	<%= @entrant.language %>
</p>

<p>
  <b>Bus:</b>
  <%= @entrant.bus %>
</p>


<p>
  <b>Discovery:</b>
  <%= @entrant.discovery %>
</p>

<p>
  <b>Transport:</b>
  <%= @entrant.transport %>
</p>

<p>
  <b>Note:</b>
  <%= @entrant.note %>
</p>

<div class="btn-group">
<div class="btn">
<%= link_to 'Edit', edit_entrant_path(@entrant) %>
</div>
<div class="btn">
<%= link_to 'Back', entrants_path %>
</div>
</div>
</div>