<div class="button">
<%= link_to 'Edit', edit_contact_path(@entrant), :class=> 'btn' %>
<%= link_to 'Back', entrants_path, :class=> 'btn' %>
</div>

<div id="show" class="well lead">

<p id="notice"><%= notice %></p>

<p>
  <b>Child's First Name:</b>
  <%= @entrant.cnamef %>
</p>

<p>
  <b>Child's Last Name:</b>
  <%= @entrant.cnamel %>
</p>

<p>
  <div id="<%= @entrant.id %>" class="pop">
  <b>Guardian:</b>
      <% if(@entrant.contact.nil?) then %>
    		NA
  <% else %>
        <%= link_to @entrant.contact.pnamef + " " + @entrant.contact.pnamel, contact_path(@entrant.contact.id) %>
    </div>
    <div id="hide-<%= @entrant.id %>" class="hide">
        <%= @entrant.contact.street %>
        <%= @entrant.contact.city %>
        <%= @entrant.contact.state %>
        <%= @entrant.contact.zip %>
        </br>
        <%= @entrant.contact.phone %>
        </div>
  <% end %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @entrant.dob %>
</p>

<p>
  <b>Grade:</b>
  <%= @entrant.grade %>
</p>

<p>
  <b>Student ID:</b>
  <%= @entrant.studentid %>
</p>

<p>
  <b>Shelter:</b>
  	<% if(@entrant.shelterid.nil?) then %>
    		NA
  <% else %>   
  	<%= link_to Shelter.find(@entrant.shelterid).sheltername, shelter_path(@entrant.shelterid) %>
  <% end %>
</p>

<p>
  <b>MN Res:</b>
  <%= @entrant.mnres %>
</p>

<p>
  <b>Last State:</b>
  <%= @entrant.laststate %>
</p>

<p>
  <b>Last City:</b>
  <%= @entrant.lastcity %>
</p>

<p>
  <b>Last School:</b>
  <% if(@entrant.lastschool.nil?) then %>
			NA
  <% else %>  
    <%= @entrant.lastschool.schoolname %>
  <% end %>
</p>

<p>
  <b>Current School:</b>
  <% if(@entrant.mpsschool.nil?) then %>
			NA
  <% else %>  
    <%= @entrant.mpsschool.schoolname %>
  <% end %>
</p>

<p>
  <b>Special Needs:</b>
  	<% if (@needs.nil?) then %>
    		NA
  <% else %>   
		<% @needs.each do |bob| %>
				<%= bob.item %>
		<% end %>
  <% end %>
</p>
  
  	
<p>
	<b>Language:</b>
	<%= @entrant.language %>
</p>

<p>
  <b>Bus:</b>
  <%= @entrant.bus %>
</p>


<p>
  <b>Discovery:</b>
  <%= @entrant.discovery %>
</p>

<p>
  <b>Transport:</b>
  <%= @entrant.transport %>
</p>

<p>
  <b>Note:</b>
  <%= @entrant.note %>
</p>


</div>