<div class="well">
<p id="notice"><%= notice %></p>

<p>
  <b>Cnamef:</b>
  <%= @entrant.cnamef %>
</p>

<p>
  <b>Cnamel:</b>
  <%= @entrant.cnamel %>
</p>

<p>
  <b>Contactid:</b>
  <%= @entrant.contact_id %>
</p>

<p>
  <b>Dob:</b>
  <%= @entrant.dob %>
</p>

<p>
  <b>Grade:</b>
  <%= @entrant.grade %>
</p>

<p>
  <b>Shelterid:</b>
  <%= @entrant.shelterid %>
</p>

<p>
  <b>Mnres:</b>
  <%= @entrant.mnres %>
</p>

<p>
  <b>Entrydate:</b>
  <%= @entrant.entrydate %>
</p>

<p>
  <b>Exitdate:</b>
  <%= @entrant.exitdate %>
</p>

<p>
  <b>Totaldays:</b>
  <%= @entrant.totaldays %>
</p>

<p>
  <b>Laststate:</b>
  <%= @entrant.laststate %>
</p>

<p>
  <b>Lastcity:</b>
  <%= @entrant.lastcity %>
</p>

<p>
  <b>Lastschool:</b>
  <% if(@entrant.lastschool.nil?) then %>
			NA
  <% else %>  
    <%= @entrant.lastschool.schoolname %>
  <% end %>
</p>

<p>
  <b>Studentid:</b>
  <%= @entrant.studentid %>
</p>

<p>
  <b>Bus:</b>
  <%= @entrant.bus %>
</p>

<p>
  <b>Needs:</b>
  <%= @entrant.needs %>
</p>

<p>
  <b>Discovery:</b>
  <%= @entrant.discovery %>
</p>

<p>
  <b>transport:</b>
  <%= @entrant.transport %>
</p>

<p>
  <b>Note:</b>
  <%= @entrant.note %>
</p>

<div class="btn-group">
<div class="btn">
<%= link_to 'Edit', edit_entrant_path(@entrant) %>
</div>
<div class="btn">
<%= link_to 'Back', entrants_path %>
</div>
</div>
</div>