<h1>Schools</h1>

<div id="indexbtn" class="btn">
<%= link_to 'New School', new_school_path %>
</div>

<div class="span11 entrants-wrapper">

<table class="table table-condensed table-hover">
  <tr>
    <th>School Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Office Phone</th>
    <th>Social Worker Name</th>
    <th>Social Worker Phone</th>
    <th></th>
    <th></th>
  </tr>

<% @schools.each do |school| %>
  <tr>
    <td><%= link_to school.schoolname, school %></td>
    <td><%= school.street %></td>
    <td><%= school.city %></td>
    <td><%= school.state %></td>
    <td><%= school.zip %></td>
    <td><%= school.officephone %></td>
    <td><%= school.sswname %></td>
    <td><%= school.sswphone %></td>
    <td><%= link_to 'Edit', edit_school_path(school), :class=> 'btn'  %></td>
    <td><%= link_to 'Remove', school, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-warning'  %></td>
  </tr>
<% end %>
</table>
</div>

<br />
<div class="pagination pagination-centered">
<%= will_paginate @entrants %>
</div>

