<body>
<div id="page">

	<div id="searchtitle" class="well">
		<h2>Search Results</h2>
	</div>

	<div class="span11">
	<div class="entrantsearch">
		
		<% if @entrants.empty? %>
  <h3 class="alert">No entrants with that name.</h3>  
	<% else%>
	<div class="entrants-wrapper">
	<table class="table table-condensed table-hover ">
  	<tr>
    	<th>Child's First Name</th>
    	<th>Child's Last Name</th>
    	<th>Guardian</th>
    	<th>Date of Birth</th>
    	<th>Grade</th>
    	<th>Student ID</th>
    	<th>Shelter</th>
    	<th>Last School</th>
  		<th>Current School</th>
    	<th>Bus</th>
    	<th>Discovery</th>
    	<th>Transport</th>
    	<th>Note</th>


    	<th></th>
    	<th></th>
  	</tr>

	<% @entrants.each do |entrant| %>
  	<tr>
    	<td><%= link_to entrant.cnamef, entrant  %></td>
    	<td><%= link_to entrant.cnamel, entrant  %></td>
    	<td><% if(entrant.contact_id.nil?) then %>
    				NA
    			<% else %>
    				<div id="<%= entrant.id %>" class="pop">
        		<%= link_to entrant.contact.pnamef + " " + entrant.contact.pnamel, contact_path(entrant.contact.id) %>
        		</div>
       		 	<div id="hide-<%= entrant.id %>" class="hide">
        		<%= entrant.contact.pnamef %>
        		<%= entrant.contact.pnamel %>
        		<%= entrant.contact.phone %>
        		</div>
      		<% end %>
      </td>
    	<td><%= entrant.dob %></td>
    	<td><%= entrant.grade %></td>
    	<td><%= entrant.studentid%></td>
      <td><% if(entrant.shelterid.nil?) then %>
    				NA
    			<% else %>   
            <%= link_to Shelter.find(entrant.shelterid).sheltername, shelter_path(entrant.shelterid) %>
      		<% end %>
      </td>
      
    	<td><% if(entrant.lastschool.nil?) then %>
					NA
  			<% else %>  
    			<%= entrant.lastschool.schoolname %>
  			<% end %>
    	</td>
    	<td>
    	  <% if(entrant.mpsschool.nil?) then %>
					NA
  			<% else %>  
    			<%= entrant.mpsschool.schoolname %>
  			<% end %>
    	</td>
    	<td><%= entrant.bus %></td>
    	<td><%= entrant.discovery %></td>
    	<td><%= entrant.transport %></td>
    	<td><%= entrant.note %></td>
 
  	  <td><%= link_to 'Edit', edit_entrant_path(entrant) %></td>
    	<td><%= link_to 'Destroy', entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  	</tr>
	<% end %>
		</table>
	<% end %>
	</div>

	






	<div class = "schoolsearch">
		<% if @schools.empty? %>
  		<h3 class="alert">No schools with that name.</h3>  
		<% else%>
	<div class="entrants-wrapper">
	<table class="table table-condensed table-hover">
  	<tr>
    	<th>School Name</th>
    	<th>Address</th>
    	<th>City</th>
    	<th>State</th>
    	<th>Zip</th>
    	<th>Phone</th>
    	<th>Social Worker</th>
    	<th>Social Worker Phone</th>
    	<th></th>
    <th></th>
    <th></th>
  </tr>
	
	<% @schools.each do |school| %>
  	<tr>
    	<td><%= school.schoolname %></td>
    	<td><%= school.street %></td>
    	<td><%= school.city %></td>
    	<td><%= school.state %></td>
    	<td><%= school.zip %></td>
    	<td><%= school.officephone %></td>
    	<td><%= school.sswname %></td>
    	<td><%= school.sswphone %></td>
  
	    <td><%= link_to 'Show', school %></td>
  	  <td><%= link_to 'Edit', edit_school_path(school) %></td>
    	<td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  	</tr>
	<% end %>
		</table>
	<% end %>
	</div>
	</div>
</div>
	




	
	</div>
</body>