<body>

<div id="page">
<div id="searchtitle" class="well">
<h2>Search Results</h2>
</div>

<% if @schools.empty? %>
  <h3 class="alert">No schools with that name.</h3>  
  
<% else%>

<table class="table">
  <tr>
    <th>School Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Social Worker</th>
    <th>Social Worker Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schools.each do |school| %>
  <tr>
    <td><%= school.schoolname %></td>
    <td><%= school.street %></td>
    <td><%= school.city %></td>
    <td><%= school.state %></td>
    <td><%= school.zip %></td>
    <td><%= school.officephone %></td>
    <td><%= school.sswname %></td>
    <td><%= school.sswphone %></td>
    <td><%= link_to 'Show', school %></td>
    <td><%= link_to 'Edit', edit_school_path(school) %></td>
    <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% end %>
<div class="btn">
<%= link_to 'Back', root_path %>
</div>

</div>

</body>