<body>
<div id="page">

	<div id="searchtitle" class="well">
		<h2>Search Results</h2>
	</div>

	<div class="span11">
	<div class="entrantsearch">
		
		<% if @entrants.empty? %>
  <h3 class="alert">No names found matching your search.</h3>  
	<% else%>
	<div class="entrants-wrapper">
	<table class="table table-condensed table-hover ">
  	<tr>
    	<th>Child's First Name</th>
    	<th>Child's Last Name</th>
    	<th>Guardian</th>
    	<th>Date of Birth</th>
    	<th>Grade</th>
    	<th>Student ID</th>
    	<th>Shelter</th>
    	<th>Last School</th>
  		<th>Current School</th>

  	</tr>

	<% @entrants.each do |entrant| %>
  	<tr>
    	<td><%= link_to entrant.cnamef, entrant  %></td>
    	<td><div id="child-<%= entrant.id %>" class="pop">
    			<%= link_to entrant.cnamel, entrant  %>
    			</div>
    			<div id="hide-child-<%= entrant.id %>" class="hide">
        		Bus: <%= entrant.bus %>
    				Discovery: <%= entrant.discovery %>
    				Transport: <%= entrant.transport %>
    				Note: <%= entrant.note %>
        	</div>
    	</td>
    	<td><% if(entrant.contact_id.nil?) then %>
    				NA
    			<% else %>
    				<div id="<%= entrant.id %>" class="pop">
        		<%= link_to entrant.contact.pnamef + " " + entrant.contact.pnamel, contact_path(entrant.contact.id) %>
        		</div>
       		 	<div id="hide-<%= entrant.id %>" class="hide">
        		<%= entrant.contact.pnamef %>
        		<%= entrant.contact.pnamel %>
        		<%= entrant.contact.phone %>
        		</div>
      		<% end %>
      </td>
    	<td><%= entrant.dob %></td>
    	<td><%= entrant.grade %></td>
    	<td><%= entrant.studentid%></td>
      <td><% if(entrant.shelterid.nil?) then %>
    				NA
    			<% else %>   
            <%= link_to Shelter.find(entrant.shelterid).sheltername, shelter_path(entrant.shelterid) %>
      		<% end %>
      </td>
      
    	<td><% if(entrant.lastschool.nil?) then %>
					NA
  			<% else %>  
    			<%= link_to School.find(entrant.lastschool).schoolname, school_path(entrant.lastschool) %>
  			<% end %>
    	</td>
    	<td>
    	  <% if(entrant.mpsschool.nil?) then %>
					NA
  			<% else %>  
    			<%= link_to School.find(entrant.mpsschool).schoolname, school_path(entrant.mpsschool) %>
  			<% end %>
    	</td>
  	</tr>
	<% end %>
		</table>
	<% end %>
	</div>

	






	<div class = "schoolsearch">
		<% if @schools.empty? %>
		  <h3 class="alert">No schools found matching your search.</h3>  

		<% else%>
	<div class="entrants-wrapper">
	<table class="table table-condensed table-hover">
  	<tr>
    	<th>School Name</th>
    	<th>Phone</th>
    	<th>Social Worker</th>
    	<th>Social Worker Phone</th>

  </tr>
	
	<% @schools.each do |school| %>
  	<tr>
    	<td>
    		<div id="school-<%= school.id %>" class="pop">
        	<%= link_to school.schoolname, school %>
        </div>
        <div id="hide-school-<%= school.id %>" class="hide">
        <%= school.street %>
        <%= school.city %>
        <%= school.state %>
        <%= school.zip %>
        </div>
      </td>
    	<td><%= school.officephone %></td>
    	<td><%= school.sswname %></td>
    	<td><%= school.sswphone %></td>
  	</tr>
	<% end %>
		</table>
	<% end %>
	</div>
	</div>


	<div class = "sheltersearch">
		<% if @shelters.empty? %>
		  <h3 class="alert">No shelters found matching your search.</h3>  

		<% else%>
	<div class="entrants-wrapper">
	<table class="table table-condensed table-hover">
  	<tr>
    	<th>Shelter Name</th>
    	<th>Phone</th>
  </tr>
	
	<% @shelters.each do |shelter| %>
  	<tr>
    	<td>
    	<div id="shelter-<%= shelter.id %>" class="pop">
    		<%= link_to shelter.sheltername, shelter %></td>
    	</div>
    	<div id="hide-shelter-<%= shelter.id %>" class="hide">
    		<%= shelter.street %>
    		<%= shelter.city %>
    		<%= shelter.state %>
    		<%= shelter.zip %>
    	</div>
    	<td><%= shelter.phone %></td>
  
  	</tr>
	<% end %>
		</table>
	<% end %>
	</div>
	</div>
	



	
</div>
	




	
	</div>
</body>