<!DOCTYPE html>
<html>
<head>
  <title>Intake</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Add A Student', new_entrant_path %></li>
          <li><%= link_to 'Add A Shelter', new_shelter_path %></li>
          <li><%= link_to 'Add A School', new_school_path %></li>
        </ul>
      </div>
    </div>
  </div>
  
<div id="page">

<%= yield %>

</div>

</body>
</html>
